@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

:root{
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}

body{
    background: var(--eye-ball);
}

/* BASIC STYLE */
a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    padding-inline: 1.5rem;
}

/* HEADER STYLE */

.navbar{
    min-height: 14vh;

}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger)
}

.btn{
    display: inline-block;
    padding: .9rem 1rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
    transition: ease-in-out .3s;
}

.btn:hover{
    background: var(--lead);
}

.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value{
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .9rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

.desktop-action .sidebar{
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}


/* Video Paused at 33:42 */




/* SECTION STYLE */






/* FOOTER STYLE */








































/* MEDIA QUERIES */

@media screen and (max-width: 768px){
    .navlist,
    .desktop-action .btn{
        display: none;
    }

    .desktop-action .sidebar{
        display: block;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: 0.1rem solid var(--gold-finger);
    }
}